[effect_shock1]
fadeOut:true
image:shockwave_normal_256.png
scaleFrom:1.0
scaleTo:2.0
alsoEmitEffects:CUSTOM:shock2*1,CUSTOM:boomlightr*33,CUSTOM:boomlightg*33,CUSTOM:boomlightb*42
#AS 33 33 42
[effect_shock2]
fadeOut:true
image:shockwave_normal_256.png
delayedStartTimer:0.5s
scaleFrom:2.0
scaleTo:3.0
alsoEmitEffects:CUSTOM:shock3*1
[effect_shock3]
fadeOut:true
image:shockwave_normal_256.png
delayedStartTimer:1s
scaleFrom:5.0
scaleTo:6.0
[effect_boomlightr]
image:SHARED:light_50.png
xOffsetRelativeRandom:100
yOffsetRelativeRandom:100
color:#FF0900
delayedStartTimerRandom:6
[effect_boomlightg]
image:SHARED:light_50.png
xOffsetRelativeRandom:100
yOffsetRelativeRandom:100
color:#DBFF00
delayedStartTimerRandom:10
[effect_boomlightb]
image:SHARED:light_50.png
xOffsetRelativeRandom:100
yOffsetRelativeRandom:100
color:#6900FF
delayedStartTimerRandom:15